body {
  font-family: helvetica;
}

html{
  font-size: 18px;
}

/*.site{
    margin: auto;
}
*/
.logo{
  display: flex;
  width: 100%;
  background-color: black;
}

.logoimage{
  padding-left: .5rem;
  padding-right: 1rem;
}

.logoheader{
  font-size: 1rem;
  color: white;
  padding-top: .66rem;
  padding-bottom: .66rem;
}

.newarrival{
  width: 100%;
  height: 25rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  display: flex;
  flex-direction: column;
}

.arrivalitems{
  font-weight: bold;
  color: white;
  width: 20rem;
  top: 9rem;
  background-color: black;
  padding: 2rem 3rem;
  margin-top: 9rem;
}
.arrivalitems h4{
  font-size: 1rem;
}
.arrivalitems h1{
  font-size: 2rem;
  font-weight: bold;
}
nav{
  background-color: firebrick;
}

a{
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 1025px){
  .navitems{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
  }
  .mobilenav{
    display: none;
  }
}

.content img {
  width: 9rem;
  height: 9rem;
  padding: 2rem;
}
.content{
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.tab{

}
.content h4{
  background-color: black;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: white;
  width: 100%;
  text-align: center;
  margin: 0;
}
.container{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border: 4px solid black;
}
.glassescontainer{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border: 4px solid black;
}
.footercontainer{
  display: flex;
  justify-content: space-between;
  border: 4px solid green;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
.locationcontainer{
  display: block;
  width: 20%;
}
.hourscontainer{
  display: block;
}
.footercontainer h4{
  background-color: black;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: white;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.hourscontainer{
  width: 20%;
}

@media only screen and (max-width: 1024px) {
  .container{
    width: 47%;
  }
  .container.glass{
    display: none;
  }
  .navitems{
    display: none;
  }
  .mobilenav{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
  }
}
@media only screen and (max-width: 470px){
  .arrivalitems h4{
    font-family: helvetica;
    font-size: 0.77rem;
    font-weight: bold;

  }
  .newarrival{
    display: flex;
    align-items: center;
    height: 15rem;
    width: 100%;

  }
  .arrivalitems h1{
    font-family: helvetica;
    font-size: 1rem;
    font-weight: bold;

  }
}
footer{
  height: 5rem;
  background-color: black;
}
.footertext{
  margin: 0 auto;
}
footer span{
  color: white;
}
